.css-code {
  padding: 2% 0;
}
input[type=range]::-webkit-slider-thumb {
  background-color: #282c34 !important;
}

input[type=range]::-webkit-range-thumb {
  background-color: #282c34 !important;
}

input[type="file"] {
  opacity: 0;
  pointer-events: none;
}

label {
  pointer-events: auto;
  background-color: #282c34 !important;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  font-size: 17px;

}

label:hover {
  cursor: pointer;
}

.slide-view {
  padding: 40px 0;
}

.slider {
  height: 60px;
}

div.upload.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.code-box {
  padding: 60px;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
  color: white;
  background-color: #383737;
}

.css-code {
  padding-bottom: 80px;
}

.css-text {
  padding-bottom: 40px;
}

.reset {
  padding: 7px;
  border: solid #282c34 1px;
}

.reset:hover {
  background-color: #282c34;
  color: white;
  cursor: pointer;
}
